body{
  background: #ddd;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
button{
  font-size: 30px;
  font-weight: bold;
  color: #000000;
  padding:10px 30px;
  border-radius: 10px;
  cursor: pointer;
  background: rgb(10, 0, 0)(250, 246, 246);
  text-transform: capitalize;
  border:solid 5px green
}
button:hover{
  border-color: #000;
  background-color: greenyellow;
}